<nav>
    <div class="sidenav">
        <a href="/">На главную</a><br>
        <a href="/clients">Клиенты</a><br>
        <a href="/passes">Абонементы</a><br>
        <a href="/income">Доходы</a><br>
        <a href="/expences">Расходы</a><br>
        <a href="/analytics">Аналитика</a><br>
        <a href="/projects">Проекты</a><br>
    </div>
</nav>