<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/style.css">
</head>
<body>
{{> header}}

{{> sidebar}}

<div class="main">
{{{body}}}
</div>

{{> footer}}

</body>
<html>