<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="./public/stylesheets/style.css">
    <link rel="icon" type="image/x-icon" href="./public/favicon.ico"/>
</head>
<body>
{{> header}}

{{> sidebar}}

<div class="main">
{{{body}}}
</div>

{{> footer}}

</body>
<html>