<h1>{{title}}</h1>
<form action="/login/password" method="post">
    <p><label>Имя пользователя</label></p>
    <p><input id="username" name="username" class="field" placeholder="Username"></p>
    <p><label>Пароль</label></p>
    <p><input id="password" name="password" class="field" placeholder="Password"></p>
    <p><button type="submit">Подтвердить</button></p><br>
    {{msg}}
</form>