<script src="javascripts/sendFormData.js"></script>
<h1>{{title}}</h1>
<form id="loginForm" action="/login" method="post">
    <p><label>Имя пользователя</label></p>
    <p><input type="text" id="username" name="username" placeholder="Username"></p>
    <p><label>Пароль</label></p>
    <p><input type="text" id="password" name="password" placeholder="Password"></p>
    <p><button type="submit">Подтвердить</button></p><br>
</form>
{{msg}}