/* Боковое меню */

.sidebar {
    height: 100%; /* Полная высота: удалите это, если хотите "auto" высоту */
    width: 160px; /* Установите ширину боковой панели */
    position: fixed; /* Исправлена боковая панель (оставайтесь на месте при прокрутке) */
    z-index: 1; /* Оставайтесь вверху */
    top: 0; /* Оставайтесь внизу */
    left: 0;
    background-color: #111; /* Черный */
    overflow-x: hidden; /* Отключить горизонтальную прокрутку */
    padding-top: 20px;
}

/* Ссылки меню навигации */
.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

/* Когда вы наводите курсор мыши на навигационные ссылки, меняется их цвет */
.sidebar a:hover {
    color: #f1f1f1;
}

/* Стилизация страницы content */
.main {
    margin-left: 160px;
    margin-top: 50px;
    padding: 0px 10px;
}

.centralContent {
    width: 1000px;
}

/* Стилизация футера */

.footer {
    margin-left: 160px;
    position: fixed;
    bottom: 0;
    background-color: #111;
    width: 100%;
    color: white;
}

/* Cтиль таблиц */
.table {
    border: 1px solid #eee;
    table-layout: auto;
    width: 100%;
}
.table th {
    font-weight: bold;
    padding: 5px;
    background: #efefef;
    border: 1px solid #dddddd;
}
.table td{
    padding: 5px 10px;
    border: 1px solid #eee;
    text-align: left;
}
.table tbody {
    white-space: nowrap;
}
.table tbody tr:nth-child(odd){
    background: #fff;
}
.table tbody tr:nth-child(even){
    background: #F7F7F7;
}

.clientsTable th:first-child, td:first-child {
    width: 5%
}

.clientsTable th:nth-child(2), td:nth-child(2) {
    width: 25%
}

.clientsTable th:nth-child(3), td:nth-child(3) {
    width: 10%
}

.clientsTable th:nth-child(4), td:nth-child(4) {
    width: 15%
}

.clientsTable th:nth-child(5), td:nth-child(5) {
    width: 22%
}

.clientsTable th:nth-child(6), td:nth-child(6) {
    width: 23%
}

.clickable:hover {
    background: lightgrey;
    cursor: pointer;
}

/* Стиль хедера */

.v_header {
    height: 50px; /* Полная высота: удалите это, если хотите "auto" высоту */
    width: 100%;
    margin-left: 160px; /* Установите ширину боковой панели */
    position: fixed; /* Исправлена боковая панель (оставайтесь на месте при прокрутке) */
    z-index: 1; /* Оставайтесь вверху */
    top: 0; /* Оставайтесь внизу */
    left: 0;
    background-color: #111; /* Черный */
    overflow-x: hidden; /* Отключить горизонтальную прокрутку */
    vertical-align: middle;
    display:table-cell;
}

.v_header_toolbar {
    width: 1000px;
    align-content: center;
    padding-left: 25px;
    padding-top: 5px;
    height: 40px;
}

/* Стили кнопок */

.greenButton {
    background: #255125;
    color: white;
    width: 150px;
    height: 40px;
    font-size: 20px;
    border-color: grey;
    border-radius: 5px;
    margin-left: 10px;
}

.greyButton {
    background: darkgrey;
    color: white;
    width: 150px;
    height: 40px;
    font-size: 20px;
    border-color: grey;
    border-radius: 5px;
    margin-left: 10px
}

.redButton {
    background: red;
    color: white;
    width: 150px;
    height: 40px;
    font-size: 20px;
    border-color: grey;
    border-radius: 5px;
    margin-left: 10px
}